@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: rgb(18,18,18);
  --foreground: white;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: black;
    --foreground: white;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
